body {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffffaf;
  /* padding-top: 120px; */
  color: #595757;
}

.container {
  width: 1250px;
  /* padding: 90px 60px; */
  /* height: 1500px; */
  background-image: url(/Images/simple-white-backgroundavif.avif);
}

.main-motivate {
  width: 1250px;
  background-color: fff;
  /* border: 1px solid black; */
  margin: 0 auto;
  background-color: rgba(165, 165, 233, 0.275);

  padding: 40px 0;
}
.header {
  /* border: 1px solid tomato; */
  text-align: center;
  margin-bottom: 40px;
}

.user-title {
  font-size: 52px;
}

.user-vacancy {
  font-size: 29px;
  text-decoration-line: underline;
  color: rgb(19, 77, 164);
}

.user-info {
  /* border: 1px solid aqua; */
  display: flex;
  justify-content: center;
  gap: 180px;
}

.user-img {
  width: 300px;
  border-radius: 90px;
  overflow: hidden;
}

.user-contacts {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact-link {
    text-decoration: none;
    color: rgb(19, 77, 164);
    display: flex;
    align-items: center;
}

.socials-icon {
    margin-right: 15px;
    text-decoration: none;
    fill: currentColor;
}

.letter-title {
  text-align: center;
}

.letter {
  padding: 40px 60px;
  text-align: center;
  align-items: center;
  /* border: 1px solid tomato; */
  font-size: 32px;
  background-color: rgba(255, 228, 196, 0.412);
}

.letter-text {
    font-size: 48px;
}

.best-regals {
  font-family: Dancing Script;
  margin-top: 60px;
  text-align: right;
  color: rgb(19, 77, 164);
}
