body {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffffaf;
  padding-top: 120px;
}

.container {
  width: 1250px;
  padding: 90px 60px;
  /* height: 1500px; */
}

.main-motivate {
  width: 1250px;
  background-color: fff;
  /* border: 1px solid black; */
  margin: 0 auto;
  background-color: rgba(165, 165, 233, 0.523);
  padding: 40px 0;
}
.header {
  /* border: 1px solid tomato; */
  text-align: center;
  margin-bottom: 40px;
}

.user-title {
    font-size: 52px;
}

.user-vacancy {
    font-size: 29px;
    text-decoration-line: underline;
}

.user-info {
  /* border: 1px solid aqua; */
  display: flex;
  justify-content: center;
  gap: 100px;
}

.user-img {
  width: 220px;
  border-radius: 50%;
  overflow: hidden;
}
.letter-title {
  text-align: center;
}

.letter {
  padding: 70px 90px;
  text-align: center;
  align-items: center;
  /* border: 1px solid tomato; */
  font-size: 32px;
  background-color: rgba(255, 228, 196, 0.627);
}

.best-regals {
    font-family: Dancing Script;
    margin-top: 60px;
    text-align: right;
    color: rgb(4, 4, 146);
}
