body {
  font-family: "Montserrat", sans-serif;
  background-color: white;
  margin: 0;
}

/* main styles */
.main {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 0% auto;
}

.user-name {
  border-top: 4px solid #24504a;
  border-bottom: 4px solid #24504a;
  margin-bottom: 5px;
  text-align: center;
  padding-bottom: 20px;
}

.main-content {
  background-color: white;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  padding: 10px 20px 0px 20px;
}

/* about styles */

.about {
  margin-bottom: 20px;
}

.about-position {
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  color: #595959;
  margin: 0;
}

.about-name {
  font-weight: 900;
  font-size: 42px;
  line-height: 55px;
  color: #24504a;
  margin-bottom: 0px;
  margin-top: 20px;
}

.about-description {
  font-size: 16px;
  line-height: 32px;
  color: #24504a;
  width: 100%;
  margin: 0;
}

/* project styles */
.projects {
  margin-bottom: 20px;
  padding-right: 30px;
  width: 100%;
}

.title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #24504a;
  margin-bottom: 10px;
  margin-top: 10px;
  border-bottom: 1px solid #24504a;
  display: block;
}

.prjects-list {
  padding: 0;
  margin-left: 15px;
}

.project-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #24504a;
  margin-bottom: 10px;
}
.project,
.project-link {
  font-size: 18px;
  line-height: 24px;
  color: #24504a;
}

.project-link {
  font-style: italic;
  font-size: 18px;
  margin-right: 7px;
}

.project-git {
  color: #fb6d3a;
  margin-right: 7px;
}

.project-link:hover,
.project-link:focus {
  color: #fb6d3a;
}

.project-bracket {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #24504a;
}

.project-info {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
}

/* work styles */

.work {
  width: 100%;
}

.work-position {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #24504a;
  margin-bottom: 7px;
  margin-top: 0;
}

.organization {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #fb6d3a;
}
.period {
  font-size: 12px;
  line-height: 15px;
  color: #878686;
  margin-top: 0;
  margin-bottom: 10px;
}
.line {
  font-size: 18px;
  line-height: 15px;
  color: #878686;
}
.work-list {
  padding: 0;
  margin-left: 15px;
}

.work-list-item {
  font-size: 16px;
  line-height: 24px;
  color: #24504a;
}

.achievements-title {
  font-size: 18px;
  line-height: 24px;
  color: #fb6d3a;
  margin-top: 10px;
  margin-bottom: 5px;
  text-decoration: underline;
}

.achievements-text {
  font-size: 18px;
  line-height: 24px;
  color: #24504a;
  margin: 0;
}

/* Education styles */

.education-name {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #24504a;
  margin-bottom: 10px;
  border-bottom: 1px solid #24504a;
}

.university {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #fb6d3a;
  margin-bottom: 10px;
  margin-top: 0;
}

.speciality {
  font-weight: 700;
  font-size: 18px;
  line-height: 17px;
  color: #24504a;
  margin-bottom: 7px;
  margin-top: 10px;
}

.education-period {
  margin: 0;
  font-size: 12px;
  line-height: 15px;
  color: #878686;
  margin-bottom: 40px;
}

/* sidebar */
.sidebar {
  background: rgb(36, 80, 74);
  background: linear-gradient(
    32deg,
    rgba(36, 80, 74, 1) 35%,
    rgb(37, 101, 83) 100%
  );
}
.photo {
  width: 370px;
  margin-bottom: 20px;
}

.contacts,
.tech-skills,
.soft-skills {
  margin-left: 40px;
  margin-bottom: 60px;
  border-bottom: 1px solid #c5ede3;
}

.tech-skills-list {
  color: #e4e5e7;
  padding: 0;
  margin-left: 18px;
}
.tech-skills-item {
  color: #fb6d3a;
}
.tech-skills-text {
  font-size: 18px;
  line-height: 24px;
  color: #c5ede3;
}
.soft-skills-text {
  font-size: 18px;
  line-height: 24px;
  color: #c5ede3;
}
.soft-skills-item {
  color: #fb6d3a;
}
.soft-skills-list {
  color: #c5ede3;
  padding: 0;
  margin-left: 18px;
}

.contact-type {
  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 10px;
}

.contact-link {
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  color: #c5ede3;
  display: flex;
  gap: 10px;
  align-items: center;
}

.location {
  color: #fb6d3a;
}

.contact-link:hover,
.contact-link:focus {
  color: #fb6d3a;
}

.sidebar-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 20px;
}

.socials-icon {
  fill: currentColor;
}
